In [1]:
print("Hello World")       # print is a function (more later)

Hello World

In [2]:
a=30        # Identifies a as class<int>

b="Harry"   # Identifies name as class<Str>

c=71.22     # Identifies b as class<float>

In [3]:
a = 31
type(a)                      #class<int>

int

In [4]:
b = "31"
type(b)                      #class<str>

str

In [5]:
str(31)           # ”31” Integer to string conversion

'31'

In [6]:
int("32")       # 32 String to int conversion

32

In [23]:
float(32)       #32.0 Integer to float conversion

32.0

In [9]:
a = input("Enter Name:- ")
print("Your name is ",a)

Enter Name:- nastredamas
Your name is  nastredamas

In [10]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
c = a%b
print("Your remainder is: ",c)

Enter 1st number: 4
Enter 2nd number: 3
Your remainder is:  1

In [11]:
a = "Kushagra"
a[:3]

'Kus'

In [12]:
a[2:5]

'sha'

In [13]:
len(a)

8

In [16]:
a.endswith("ara")

False

In [19]:
a.count("K")

1

In [20]:
a.capitalize()

'Kushagra'

In [21]:
a.replace("Kushagra", "Mohan Prasad")

'Mohan Prasad'

In [22]:
a

'Kushagra'

In [23]:
L1 = [7, 9, 'harry']

L1[0]-7

0

In [24]:
L1[1]-7

2

In [25]:
l2 = [1, 8, 7, 2, 21, 15]

In [26]:
l2.sort()
l2

[1, 2, 7, 8, 15, 21]

In [27]:
l2.reverse()
l2

[21, 15, 8, 7, 2, 1]

In [28]:
l2.append(61)
l2

[21, 15, 8, 7, 2, 1, 61]

In [29]:
l2.remove(61)
l2

[21, 15, 8, 7, 2, 1]

In [30]:
l2.remove(8)
l2

[21, 15, 7, 2, 1]

In [31]:
l2.insert(2,4)
l2

[21, 15, 4, 7, 2, 1]

In [32]:
l2.pop(4)
l2

[21, 15, 4, 7, 1]

In [50]:
a = {"name": "Harry","from":"India","marks":[92,98,96]}

In [51]:
a

{'name': 'Harry', 'from': 'India', 'marks': [92, 98, 96]}

In [52]:
a.items()

dict_items([('name', 'Harry'), ('from', 'India'), ('marks', [92, 98, 96])])

In [53]:
a.keys()

dict_keys(['name', 'from', 'marks'])

In [55]:
a.update({"College":"Praxis"})

In [56]:
a

{'name': 'Harry', 'from': 'India', 'marks': [92, 98, 96], 'College': 'Praxis'}

In [57]:
print(a)

{'name': 'Harry', 'from': 'India', 'marks': [92, 98, 96], 'College': 'Praxis'}

In [102]:
a.get("name")

'Harry'

In [58]:
i=0
while i<10:
    print("Kushagra")
    i=i+1

Kushagra
Kushagra
Kushagra
Kushagra
Kushagra
Kushagra
Kushagra
Kushagra
Kushagra
Kushagra

In [63]:
x = [1,4,5,6]
for i in x:
    print(i)

1
4
5
6

In [107]:
for i in range(0,7):
    print(i)

0
1
2
3
4
5
6

In [64]:
q = int(input("Enter first number: "))
w = int(input("Enter second number: "))
e = int(input("Enter third number: "))
r = int(input("Enter fourth number: "))
if (q>w and q>e and q>r):
    print(q, "is greater of all 4 numbers")
elif (w>q and w>e and w>r):
    print(w, "is greater of all 4 numbers")
elif (e>q and e>w and e>r):
    print(e, "is greater of all 4 numbers")
else:
    print(r, "is greater of all 4 numbers")

Enter first number: 6
Enter second number: 7
Enter third number: 8
Enter fourth number: 9
9 is greater of all 4 numbers

In [66]:
a = int(input("Enter Physics number: "))
b = int(input("Enter Maths number: "))
c = int(input("Enter Chemistry number: "))
total = a+b+c
avg = total/3
if (a>33 and b>33 and c>33 and avg>=40):
    print("Pass")
else:
    print("Fail")

Enter Physics number: 87
Enter Maths number: 90
Enter Chemistry number: 89
Pass

In [129]:
i=0
while (i<10):
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

## Mathematical tables

In [132]:
a = int(input("Enter the table number: "))
i=0
while (i<10):
    i=i+1
    c = i*a
    print(a, "x", i, "=", c)

Enter the table number: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [140]:
l1 = ["a", "b", "c", 1, 2, 3]
for x in l1:
    print(x)

a
b
c
1
2
3

In [67]:
print(range(2,5))

range(2, 5)

In [68]:
for i in range(0,20,4):
    print(i)
else:
    print("Done")

0
4
8
12
16
Done

In [69]:
for i in range(0,20,2):
    print(i)
    if (i==16):
        break

0
2
4
6
8
10
12
14
16

In [70]:
for f in range(5,20,2):
    if (f==9):
        continue
    print(f)

5
7
11
13
15
17
19

## Mathematical tables

In [1]:
a = int(input("Enter number: "))
for i in range(1,11):
    print(a, "*" ,i, "=", i*a)

Enter number: 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [2]:
l1 = ["Harry", "Sohail","Kushagra", "Sohan", "Samrat","Daksh"]
for item in l1:
    if item.startswith("D"):
        print("Hello", item)

Hello Daksh

## Prime number

In [79]:
n = int(input("Enter a number: "))
if n>1:
    for i in range(2,n):
        if n%i==0:
            print("Not a Prime Number. It's a composite number")
            break
    else:
        print("Prime Number")
else:
    print("-ve number is not a Prime Number")

Enter a number: 9
Not a Prime Number. It's a composite number

## Even number

In [80]:
n = int(input("Enter a number: "))
i = 0
while i<n:
    i=i+2
    print(i)

Enter a number: 6
2
4
6

## Factorial

In [10]:
a = int(input("Enter a number: "))
fac = 1
for i in range(a, 1, -1):
    fac = fac*i
print("Factorial is: ", fac)

Enter a number: 5
Factorial is:  120

## Recursive Factorial

In [50]:
def factorial_recursive(n):
    if n==1 or n==0:
        return 1
    elif n<0:
        print("Negative number do not have factorial.")
    elif n==float:
        print("Float numbers do not have factorial.")
    else:
        return n * factorial_recursive(n-1)
n = int(input("Enter a number: "))
b = factorial_recursive(n)
print("Factorial of %d is " %n, b)

Enter a number: -5
Negative number do not have factorial.
Factorial of -5 is  None

## Fibonacci Series

In [17]:
a = int(input("Enter a number: "))
x=0
y=1
z=0
while(z<=a):
    print(z)
    x=y
    y=z
    z=x+y

Enter a number: 100
0
1
1
2
3
5
8
13
21
34
55
89

## Recursive Fibonacci Series

In [12]:
# Generation of the Fibonacci Series using Recursion
def fibonacci (n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

b = int(input("Enter the number : "))    
a = fibonacci(b)
print(a)

Enter the number : 10
55

## Palindrome number

In [4]:
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:151
The number is palindrome!

In [44]:
string=input(("Enter a string:"))
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("Not a palindrome")

Enter a string:12321
The string is a palindrome

## Amstrong Number

## Reverse of a number

## Volume of a cube

In [12]:
import math
def cube(radius):
    vol = (1.33* math.pi * radius ** 3)
    return vol
r = int(input("Please enter radius to find the volume of a cube: "))
a = round(cube(r),2)
#x = round(a,2)
print(x)

Please enter radius to find the volume of a cube: 2
33.43

## Cuberoot

In [ ]:
def cuberoot(x):
    if x < 0:
        x = abs(x)
        cube_root = x**(1/3)*(-1)
    else:
        cube_root = x**(1/3)
        return cube_root

a = int(input("Enter a value to find cube root: "))
print(cuberoot(a))
print(round(cuberoot(-a)))

In [54]:
# Find the cube root of a perfect cube
# Using for loop

x = int(input("Enter an integer: "))
for ans in range(0, abs(x) + 1):
    if (ans**3 >= abs(x)):
        break
if (ans**3 != abs(x)):
    print(x,"is not a perfect cube")
else:
    if(x < 0):
        ans = -ans
    print("Cube root of", x, "is", ans)

Enter an integer: -8
Cube root of -8 is -2